.page{
	width: 100%;
}
#Main{
	display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
	background-image: url("../image/frontmatter-1.png");
	background-position: center center;
	background-size: cover;
/*	height: 100vh;
	min-height: 768px;*/
}

section{
	min-height: 768px;
}
a, h1,h2,h3,h4,h5,h6,p,span{
	color:#000;
}
a:focus, h1,h2,h3,h4:focus,h5:focus,h6:focus,p:focus,span:focus {
	color:#183152;
}
header>.navbar{
	color:black;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}
.navbar .icon-bar{
	background-color: black;
}
.navbar>.container-fluid{
	padding-right: 150px;
    padding-left: 50px;
}
.hire-btn{
	text-transform: uppercase;
    font-size: 18px;
    color: #212121;
    border: 1px solid #212121;
    padding: 9px 25px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;	
}